            @keyframes an1
            {
                from
                {
                    opacity: 0;
                }
                to
                {
                    opacity: 1;
                }
            }
            @keyframes ananim
            {
                from
                {
                    width: 5%;
                    float: left;
                    margin-top: 2%;
                    margin-left: 10%;
                    margin-right: 10%;
                    margin-bottom: 2%;
                }
                to
                {
                    width: 7%;
                    margin-left: 9%;
                    margin-right: 0;
                    margin-top: 0;
                    margin-bottom: 0%;
                }
           
            }
            @keyframes ananim2
            {
                from
                {
                    width: 7%;
                    margin-left: 9%;
                    margin-right: 0;
                    margin-top: 0;
                }
                to
                {
                    width: 5%;
                    float: left;
                    margin-top: 2%;
                    margin-left: 10%;
                    margin-right: 10%;
                    margin-bottom: 2%;
                }
           
            }
                         
			body
			{
				background-color: #7c87bb;
                display: flex;
                margin: 0 !important;


			}
            #center
            {
                
                margin: 0 auto;
                position: absolute;
            }
            .header
            {
                width: 100%;
                padding: 40px 0;
                animation-name: an1;
                animation-duration: 3s;
            }
            .wrapper
            {
                width: 100%;
            }
            .logo
            {
                width: 70%;
                font-size: 48px;
                margin-left: auto;
                margin-right: auto;
                font-family: 'Courier New', Courier, monospace;
                text-align: center;
            }
            .nav
            {
                width: 100%;
                padding: 10px 0;
                background-color: blanchedalmond;
                text-align: center;
                border-top: 1px solid black;
                border-bottom: 1px solid black;;
            }
            .content
            {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                text-align: justify;
            }
           .socials
           {
               width: 100%;
               text-align: center;
           }
           .socialdivs
           {
               width: 80%;
               margin-left: auto;
               margin-right: auto;
           }
         .anim
         {
            animation-name: ananim2;
            animation-duration: 0.3s;
            width: 5%;
            float: left;
            margin-top: 2%;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 2%;
         }
         .anim:hover
         {
            animation-name: ananim;
            animation-duration: 0.3s;
            
            width: 7%;
            margin-left: 9%;
            margin-bottom: 0%;
            margin-right: 0;
            margin-top: 0;
         }

           